html, body {
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #f5f8ff;
}
.modal {
	display: flex;
	position: fixed;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: .3s;
}

.modal__background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(185,188,195,.5);
	z-index: 100;
	transform: none;
	cursor: crosshair;
}

/*.modal.opening {*/
/*	transform: translateY(0px);*/
/*	opacity: 1;*/
/*}*/

.modal.opened {
	transform: translateY(0px);
	opacity: 1;
}

.modal.opened .modal__container {
	transform: translateY(0px);
	opacity: 1;
}

.modal__container {
	width: 30em;
	min-width: 320px;
	background-color: #fff;
	padding: 2em;
	border-radius: 7px;
	box-shadow: 0 1px 2px rgb(150,150,150);
	z-index: 200;
	opacity: 0;
	transform: translateY(10px);
	transition: .3s;
}

.modal__header {
	padding: 0 0 5px 0;
	border-bottom: 1px solid gray;
}
.modal__body {
	margin: 10px 0 10px 0;
	max-height: 300px;
	overflow-y: scroll;
}
.modal__footer {}

.btn_open {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	background-color: #2d84fb;
	font-size: 21px;
	color: #fff;
	border: none;
	border-radius: 9999999px;
	transition: .3s;
	box-shadow: 0 0px 7px rgb(150,150,150);
	transform: scale(1) translateY(0px);
	text-transform: uppercase;
}

.btn_open:hover {
	background-color: #4392fd;
	box-shadow: 0 2px 12px #4392fd;
	transform: scale(1.05);
}
.btn_open:active {
	background-color: #a4caff;
	box-shadow: 0 2px 12px #a4caff;
	transform: scale(0.95);
}

.btn_open:focus {
	outline: 0;
	border: 5px solid #a4caff;
}

.tab_content {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: 300px;
	padding: 1em;
	/*margin-top: 2em;*/
	background-color: #fff;
	overflow-y: scroll;
	border-radius: 7px;
	box-shadow: 0 1px 2px rgb(200,200,200);
}

.tab_content__item {
	animation: fadeIn .3s;
	transition: .3s;
}

/*.tab_content__item.show {*/
/*	opacity: 1;*/
/*	visibility: visible;*/
/*	transform: translateX(0px);*/
/*}*/

#logs .log__item {
	margin-bottom: 2px;
	padding: 2px;
	border-radius: 5px;
}

#logs .log__item:hover {
	background-color: #e6e7e9;
}

.tabs {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	border-radius: 7px;
}

.tabs__item {
	width: 100%;
	background-color: #2d84fb;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.tabs__item.selected {
	background-color: #4392fd;
}

#copyright {
	margin-top: 1em;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*.link__author {*/
/*	background-color: #2d84fb;*/
/*}*/